/*rgb(0, 209, 205)
font-style:dancing script ,"cursive";*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    width: 97vw;
    height: 200px;
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    border: solid rgb(0,209,205) 1vw;
  }
  #logo {
      width: 16vw;
      margin: 1vw;
  }
  h1{
      color: rgb(0,209,205);
      position: relative;
      left:-4rem;
      text-decoration:solid;
      transition-timing-function: ease-in-out;
      font-size: 32px;
      transition: font-size 2s;
  }
  h1:hover{
      font-size: 3vw;
  }
  figure{
      display: block;
  }
  nav{
      width: 50%;
      max-width: 300px;
      height: 50px;
      margin: 100px;
  }
  nav > ul{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-inline-start: 0;
      margin-block: 0;
      height: 4vw;
      width: 14vw;
  }
  nav > ul >li{
      color: rgb(0,209,205);
      padding: 1vw;
      display: inline;
      transition: color 1s;
  }
  nav>ul>li:hover{
      color:rgb(0, 255, 251);
      border-bottom: 2px solid rgb(0,209,205);
  }
  li > a{
      color: inherit;
      text-decoration: none;
  }
  #about,#restaurants,#foods,#breverages,#order{
      display: block;
      align-items: center;
      text-align: center;
      border: #444444 solid 3px;
      margin: 1vw 0vw;
      padding:1vw;
      flex-wrap: wrap;
      padding-bottom: 2vw;
      border-radius: 1vw;
  }

main{
    position: relative;
    top:8rem;
    
    
}

.name{
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
}

.cafe-96{
    text-align: center;
    font-size: 50px;

}

.type{
    text-align: center;
}

.pictures{
    margin-top: 25px;
    margin-left: 50px;
}

.image{
    display: flex;
    flex-direction: row;
    cursor: pointer;

}

.cafe-img > img{
    
    width: 70%;
    height:225px;
}

.cafe-img-1 > img{
    
    width: 99%;
    height:450px;
}
.second{
    display: flex;
    flex-direction: column;
}
.cafe-img-2 > img{
    
    width: 70%;
    height:220px;   
}

.cafe-img-3 > img{
    width: 100%;
    height:450px;
    position: relative;
    right: 5.5rem;
}

.menu{
    margin-top: 5rem;
    
    
}




.names{
    color: rgb(0,209,205);
    font-size: larger;
    display: inline;
    
    margin-left: 1cm;
}
.names > a{
    text-decoration: none;
    color: inherit;
    display: inline;
}

.names > a >  h4{
    display: inline;
    font-size: 30px;
    transition: 1s linear ease;
    cursor: pointer;
}

.names:first-child{
    border-bottom: 2px solid rgb(0,209,205);
    color:#444444;
}

.items{
    border-top: 2px solid black;
    margin-top: 0rem;
    display: grid;
    
    padding: 30px 20px;
    
}



.sidebar{
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin: 100px;
    position: relative;
    right: -10cm;
    top: -3cm;
    
    
}
.sidebar > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 4vw;
    width: 14vw;
    
}
.sidebar > ul > a{
    text-decoration: none;
    color: inherit;
    display: inline;
}

.sidebar > ul > a >li{
    color: rgb(0,209,205);
    padding: 1vw;
    display: inline;
    transition: color 1s;
}
.sidebar >ul> a > li:hover{
    color:rgb(0, 255, 251);
    
    border-bottom: 1px solid black;
}

.food{
    position: relative;
    top: -10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.type > h2{
    color:rgb(0, 255, 251);
    font-size: 30px;
    align-items: center;
    position: relative;
    top: -11rem;
    border: 1px solid black;
    margin-top: 5rem;
    
}
.noodle{
    display: flex;
    flex-direction: row;
    border: solid rgb(0,209,205) 4px;
    margin-bottom: 0.2rem;
    border-radius: 52px;
    background-color: #444444;
    color: rgb(0, 255, 251);
    
}

.item > a{
    text-decoration: none;
    color: inherit;
}
.item > a > h4{
    margin-top: 2rem;
    margin-left: 2cm;
    align-items: center;
    margin-left: 130px;
    font-size: 20px;
    
}

.img > a > img{
    width: 2.5cm;
    height: 2cm;
    margin-top: 1rem;
    margin-left: 3rem;
    border-radius: 50%;
    padding: 10px;
}





.footer{
    background-color: #24262b;
    padding: 70px 0;
    position: relative;
    top: 10rem;
}

.container{
    max-width: 1170px;
    
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height:2px;
    box-sizing: border-box;
    width:50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display: block;
}

.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 10px;
}


.footer-col .social-links a{
    display: inline-block;
    height:40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;

}